<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

    <session-factory>

        <!-- JDBC Database connection settings -->
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql://192.168.99.100:6603/chatapp?verifyServerCertificate=false&amp;useSSL=true</property>
        <property name="connection.username">root</property>
        <property name="connection.password">pass</property>

        <!-- JDBC connection pool settings ... using built-in test pool -->
        <property name="connection.pool_size">1</property>

        <!-- Select our SQL dialect -->
        <property name="dialect">org.hibernate.dialect.MySQLDialect</property>

        <!-- Echo the SQL to stdout -->
        <property name="show_sql">true</property>
        <property name="format_sql">true</property>
        <property name="hbm2ddl.auto">validate</property>

		<!-- Set the current session context -->
		<property name="current_session_context_class">thread</property>
        <mapping class="main.java.entities.Conversation"/>
        <mapping class="main.java.entities.User"/>
        <mapping class="main.java.entities.IsIn"/>
        <mapping class="main.java.entities.Message"/>
        <mapping class="entities.Notification"/>
        <mapping class="main.java.entities.Privilege"/>
        <mapping class="main.java.entities.UserType"/>

    </session-factory>

</hibernate-configuration>